toaster-container(toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}")
h1.page-header Macchinari

    h2.sub-header
        .row
            .col-sm-6
                .radio
                    label
                        input#optionsRadios1(type="radio", name="optionsRadios", value="option1",checked=true)
                    |Stampante 3D n°1
                .radio
                    label
                        input#optionsRadios2(type="radio", name="optionsRadios", value="option2")
                    |Stampante 3D n°2
                .radio
                    label
                        input#optionsRadios3(type="radio", name="optionsRadios", value="option3")
                    |Cutter Laser
            .col-sm-6
                .radio
                    label
                        input#optionsRadios1(type="radio", name="optionsRadios", value="option1")
                    |Stampante ad alta definizione
                .radio
                    label
                        input#optionsRadios2(type="radio", name="optionsRadios", value="option2")
                    |Labs
                .radio
                    label
                        input#optionsRadios3(type="radio", name="optionsRadios", value="option3")
                    |
    h2.sub-header calendario
        .row
            .col-sm-8.col-sm-offset-2
                .calendar#calendar_mini(ng-model="eventSources", calendar="myCalendar1", ui-calendar="{{calendarConfig}}" )