toaster-container(toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}")
h1.page-header Dashboard

    h2.sub-header Porte
    .row.placeholders
        .col-xs-6.col-sm-3.placeholder.gray-box(ng-repeat="(val,key) in doors", ng-click="doorClick(val)")
            h4 {{key.name}}
            span.text-muted
                |{{key.state === 0 ? "Chiusa" : key.state === 1 ? "Aperta" : "Errore"}}
                .circle-state(ng-class="{'red': key.state == 0 || key.state ==2, 'green' : key.state == 1 }")
    h2.sub-header Macchine da laboratorio
    .row.placeholders
        .col-xs-6.col-sm-3.placeholder.gray-box(ng-repeat="(val,key) in machines", ng-click="doorClick(val)")
            h4 {{key.name}}
            span.text-muted
                |{{key.state === 0 ? "spenta" : key.state === 1 ? "in funzione" : "Errore"}}
                .circle-state(ng-class="{'red': key.state == 0 || key.state ==2, 'green' : key.state == 1 }")