toaster-container(toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}")
h1.page-header Stanze

    h2.sub-header
    .row.placeholders
        .col-sm-6.room-display(ng-repeat="room in rooms")
            h4 {{room.name}}
            .circle-state(ng-class="{'green': room.current < room.capacity/2, 'yellow': room.current >= room.capacity/2 && room.current < room.capacity, 'red' : room.current == room.capacity }")
            | {{room.current}} / {{room.capacity}}