.times{
  border: 0;
  margin-bottom: -1px;
  padding: 15px 0px;
  font-size: 13px;
  background-color: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  color: #646464;
  text-shadow: 0px 1px 1px #fff;
  font-weight: bold;
}

.placeholder-cell{
  font-size: 26px;
  background-color: #fafafa;
  color: #000;
  text-shadow: 0px 1px 1px #fff;
  padding: 0 30px;
    -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.gray-box{
  border: 1px solid #ddd;
  margin-bottom: -1px;
  padding: 15px 0px;
  font-size: 26px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  background-image: -o-linear-gradient(top, #fafafa, #efefef);
  background-image: linear-gradient(to bottom, #fafafa, #efefef);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  color: #646464;
  text-shadow: 0px 1px 1px #fff;
}

.circle-state {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.circle-state.red{
  background-color: red;
}
.circle-state.green{
  background-color: green;
}
.circle-state.yellow{
  background-color: #FF9306;
}

.room-display {
  border: 1px solid #DDDDDD;
  margin-bottom: 0px;
  padding: 90px;
  font-size: 26px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  background-image: -o-linear-gradient(top, #fafafa, #efefef);
  background-image: linear-gradient(to bottom, #fafafa, #efefef);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 0;
  display: block;
  color: #646464;
  text-shadow: 0px 1px 1px #fff;
}


.hover:hover{
  background-color: #ECECEC;
}